body {
    background-image: url('pexels-sebastiaan-stam-1097456.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    height: 100vh;
}

.ui-menu-item-wrapper:hover,
.ui-menu-item-wrapper:checked,
.ui-menu-item:hover {
    background-color: gray !important;
    color: white;
}

.ui-autocomplete li,
.ui-menu-item {
    font-family: cursive;
    border: 3px solid black !important;
}


.navbar-nav {
    z-index: 1000 !important;
}

#search {
    border-color: white;
    color: lightgray;
}

#search:hover {
    color: white;
    border-color: rgba(245, 61, 61, 0.991);
}

.nav-link:hover {
    color: rgba(245, 61, 61, 0.991) !important;
    ;
}