/* general */
body {
    background-image: url('pexels-sebastiaan-stam-1097456.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    height: 100vh;
}

input {
    padding: 0.4em !important;
}

* {
    box-sizing: border-box;
}

/* autocomplete */
.wrapper {
    position: relative;
    display: inline-block;
    margin-top: 3px;
}

.options {
    list-style: none;
    padding: unset;
    margin: unset;
    position: absolute;
    width: 100%;
}

.options a {
    display: block;
    width: 100%;
}

.options li {
    background-color: rgb(234, 230, 230);
    opacity: 90%;
}


.options a:link,
.options a:visited {
    text-decoration: unset;
    color: unset;
    width: 100%;
    color: black;
    background-color: rgb(234, 230, 230);
    text-align: left;
    padding: 2px;
}

.options a:hover {
    opacity: 1;
    background-color: white;
    color: red;
}

/* search bar */
.search {
    margin-left: 0.4em !important;
    border-color: white !important;
    color: lightgray;
}

.search:hover {
    color: white !important;
    border-color: rgba(245, 61, 61, 0.991) !important;
}

/* navbar */
.navbar-nav {
    z-index: 1000 !important;
}

.nav-link:hover {
    color: rgba(245, 61, 61, 0.991) !important;
    ;
}