{% extends "display.html" %}

{%block notify%}
    <form action='/movies' method='post'>
{%endblock%}

{%block button%}Notify{%endblock%}

{%block form%}
    <form class="d-flex bg-dark" action="/movies" autocomplete="off">                                                                                      
        <div class='wrapper'>
            <input name='movie' id="title-input" class="form-control me-2"
                type="text" placeholder="Search a movie/tv show">
            <ul class='options'>
            </ul>
        </div>
        <button class="search btn btn-outline-success bg-dark" type="submit">Search</button>
    </form>
    <script src="static/movie_list.js"></script>
    <script src="static/movies.js"></script>
{%endblock%}