{% extends "display.html" %}

{%block notify%}
    <form action='/movies' method='post'>
{%endblock%}
                                
{%block button%}Notify{%endblock%}

{%block form%}
    <script src="movies.js"></script>
    <form class="d-flex bg-dark"  action="/movies" method="post">                                                                                      
        <input name='movie' id = "title-input" class="form-control me-2" type="text" placeholder="Search a movie" aria-label="Search">
        <button id='search'class="btn btn-outline-success bg-dark" type="submit">Search</button>
    </form>
{%endblock%}